#navbar {
  width: 100%;
  overflow: hidden;
}
#navbar ul {
  list-style-type: none;
}
#navbar li {
  float: left;
}
#navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar li a:hover {
  background-color: lightcoral;
}

#content {
  margin: auto;
  display: block;
  text-align: center;
}

#greeting-container {
  margin-top: 30px;
  color: blanchedalmond;
}

#homelinks img {
  width: 50px;
  padding: 10px;
}

#projectscontent {
  margin-right: auto;
  left: 10%;
  position: relative;
}
#projectscontent .projectblock {
  border: 1mm;
  border-color: lightcoral;
  border-style: double;
  padding: 15px;
  width: 60%;
  margin: 10px;
}