#navbar {
  overflow: hidden;
  width: 100%;
}
#navbar ul {
  list-style-type: none;
}
#navbar li {
  float: left;
}
#navbar li a {
  color: #000000;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
#navbar li a:hover {
  background-color: #006c84;
  color: #ffffff;
}

#content {
  display: block;
  margin: auto;
  text-align: center;
}

#greeting-container {
  margin-top: 30px;
}

#homelinks img {
  padding: 10px;
  width: 50px;
}

#projects-content {
  left: 10%;
  margin-right: auto;
  position: relative;
}
#projects-content .project-block {
  border: 1mm double #006c84;
  margin: 10px;
  padding: 15px;
  width: 60%;
}
